 
 
 
 
 <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/signup">R</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a>
            <a href="#"><img src="/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
         <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p> 
        </div> 
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            {{!-- <p>Free shipping, 30-day return or refund guarantee.</p> --}}
                        </div>
                    </div>
                    {{#if admin}}
                   <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                 <a href="/login">admin</a>
                                <a href="/logout">Logout</a>
                
                          
                             
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>



                    {{else}}
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                     <a href="/admin/banners">Banner</a>
                                 <a href="/admin/a-logout">Logout</a>
                              
                
                          
                             
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                            {{/if}} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-3">
                    
                    <div class="header__logo">
                        <a href="./index.html"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            
                          
                            <li><a href="#">Manage User</a>
                                <ul class="dropdown">
                                    <li><a href="/admin/view-user">View User</a></li>
                                    
                                </ul>
                            </li>
                             <li><a href="#">Category</a>
                                <ul class="dropdown">
                                    <li><a href="/admin/add-category">Add Category</a></li>
                                    <li><a href="/admin/view-category">View Category</a></li>
                                    
                                </ul>
                            </li>
                             <li><a href="#">Sub Category</a>
                                <ul class="dropdown">
                                    <li><a href="/admin/add-subcategory">Add SubCategory</a></li>
                                    <li><a href="/admin/view-subcategory">View  SubCategory</a></li>
                                   
                                </ul>
                            </li>
                             <li><a href="#">Products</a>
                                <ul class="dropdown">
                                    <li><a href="/product/">Add Products</a></li>
                                    <li><a href="/product/view-products">View Products</a></li>
                                   
                                </ul>
                            </li>
                            
                        </ul>
                        
      
                    </nav>
                    
                    
                    
                </div>
               
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                         <input class="form-control me-2" onkeyup="search()" id="Search" style="width: 20rem;" type="search" placeholder="Search" aria-label="Search">
                    </div>
                </div> 
                
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
            <div class="container justify-content-center">
    <div class="row">
        <div class="col-md-8">
            
        </div>
    </div>
</div>
        </div>
        
    </header>
  <div style="background-color: rgb(197, 129, 129);  width: 100%;  height:  2px;"    ></div>
       <!-- Footer Section Begin -->
    {{!-- <style>
    .container {
    margin-top: 200px
}

.btn:hover {
    color: #fff
}

.input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: #f8c146;
    outline: 0px
}

.form-control {
    border: 1px solid #f8c146
}
</style> --}}